body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(255, 255, 255);
    color: rgb(188, 199, 199);
}

h2{
    color: black;
}

h3{
    color: black;

}


header{
    display: flex;
    flex-direction: row;
    background-color: rgb(59, 59, 167);
    margin: 0px;
    padding: 0px;


}
#label{
    color: white;
    padding-left: 20px;
}

#form{
    display: flex;
    flex-direction: row;
    margin: auto;
    padding-left: 500px;
    
} 
#passwordtab{
    margin-left: 10px;
}

.formtabs{
    
    
}

section{
    display: flex;
    flex-direction: row;
}

#info{
    margin: auto;
}

#signup{
    margin: auto;
}

form{
    display:flex;
    flex-direction: column;
    width: 250px;
}
#name{
    margin: auto;
    display: flex;
    flex-direction: row-reverse;
   
}
input[type=Submit]{
    width:100% ;
    margin-left: 0px;
    background-color: green;
    color:white;
}

input[type=Login]{
    width: 30%;
    margin-left: 10px;
    color: white;
    background-color: rgb(125, 125, 236);
    text-align: center;
}



.lists{

}

