header{
       display: flex;
       flex-direction: row;
       margin: auto;
}

#logo{

}

#navbar{
        
}
ul{
    text-align: right;
}
li{
    list-style-type: none;
    display: inline-block;
}

body{
     background-color: whitesmoke;
     color: black;
}

section{

}

#explorepage{

}
h1{
   color: white;
}
h4{

}
#explore{

}
#cart{

}
#model{

}
#items{

}
.cartrow{

}
.jewellery{

}
#gridblock3{

}
h2{

}
#watchvideo{

}